<div class="form-bg">
  <div class="form-container">
    <h2>Edit Profile</h2>
    <% if current_user.avatar.attached? %>
        <%= image_tag current_user.avatar, class: 'avatar' %>
    <% else %>
    <div>
        <i class="fas fa-user-circle fa-6x"></i>
    </div>
    <%end %>
    <%= render '/users/form' %>
</div>
</div>