<div class="container">
    <% @post.each do |post| %>
        <div>
             <%= link_to (image_tag post.image, class: "show-image"), post %>
        </div>
        <div>
            <%= link_to post.title, post %>
        </div>
    <% end %>
</div>

<div class="container">
    <%= link_to 'ADD NEW POST', new_post_path %>
</div>

