<% if user_signed_in? %>
    <div>
        <%= link_to 'ADD NEW SCAPE', new_post_path %>
    </div>
<% end %>


<% @post.each do |post| %>
    <div>
        <%= link_to (image_tag post.image, class: "show-image"), post %>
    </div>
<% end %>



