/* Color Theme Swatches in Hex */
$South-Beach-Target-Store-Mural-4-hex: #F20505;
$Shades-of-royal-blue--navy-1-hex: #000FBF;
$Shades-of-royal-blue--navy-2-hex: #000A80;
$Shades-of-royal-blue--navy-3-hex: #0015FF;
$bg-grey:#f8f9fa;

/* Color Theme Swatches in RGBA */
$South-Beach-Target-Store-Mural-4-rgba: rgba(242,4,4, 1);
$Shades-of-royal-blue--navy-1-rgba: rgba(0,15,191, 1);
$Shades-of-royal-blue--navy-2-rgba: rgba(0,10,127, 1);
$Shades-of-royal-blue--navy-3-rgba: rgba(0,20,255, 1);