// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';


// index page styling

.home-image {
    background-image: url(https://images.unsplash.com/photo-1511121192794-e0b2672eed7f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    align-items: center;
    margin: 20px 0 40px;
    

    .home-text h1{
        font-size: 4rem;
        color: #fff;
        font-weight: bold;
        padding: 50px;
    }
}
.latest-posts {
    h1 {
        font-weight: 700;
    }
} 

.post-section {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    // justify-content: center;
}

.post-container {
    width: 33%;
    padding: 1%;
    align-items: center;
    flex-wrap: wrap;
    .post-info-wrapper {
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        background-color: $bg-grey;
        p {
            margin-top: 15px;
        }
        img {
            margin-right: 8px;
        }
    }
    .post-ava-user {
        display: flex;
        align-items: center;
    }
}

.show-image {
    width: 100%;
    height: 300px;
    background: transparent no-repeat center;
    background-size: cover;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.menu-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.user-update-post {
    display: flex;
    justify-content: center;
    margin: 10px 20px;
    a {
        padding: 10px 15px;
        width: 200px;
        margin: 10px 20px;
        text-align: center;
        border-radius: 40px;
        &:first-child {
            color: $Shades-of-royal-blue--navy-3-hex;
            border: 2px solid $Shades-of-royal-blue--navy-3-hex;
        }
        &:last-child {
            color: $South-Beach-Target-Store-Mural-4-hex;
            border: 2px solid $South-Beach-Target-Store-Mural-4-hex;
        }
        i {
            padding-right: 8px;
        }
    }
    
}

.post-img-container{
    padding: 20px 0;
}

.post-image {
    display: flex;
    justify-content: center;
    img {
        max-width: 70%;
        max-height: 500px;
    }
}

.post-info-container {
    width: 80%;
    padding: 30px 0;
    margin: 30px auto;
    border-top: solid 3px $bg-grey;
}

.photo-information {
    .likes {
        a {
            font-size: 1.6rem;
            color: #212529;
            &:hover {
                color: $South-Beach-Target-Store-Mural-4-hex;
            }
        }
    }
    h3 {
        font-weight: 700;
    }
}

.post-name-avatar {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 3px $bg-grey;
    vertical-align: center;
    .post-avatar {
        display: flex;
        img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }
    }
}

.post-loc-description {
    padding: 20px 0;
    i {
        margin: 10px 0 10px;
        padding-right: 5px;
    }
}

.comments {
    margin-top: 135px;
}


.comment-count {
    font-weight: 700;
    font-size: 1.2rem;
    margin: 10px 0 10px;
}

.post-comment-form {
    display: flex;
    margin: 20px 0;
    .comment-avatar {
        padding-right: 10px;
    }
    .comment-form {
        width: 100%;
    }
}

.commenter-wrapper {
    padding: 10px 0;
    border-bottom: solid 3px $bg-grey;
}

.commenter-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    .commenter-ava-name {
        a {
            font-weight: 700;
            color: #212529;
            &:hover {
                color: $Shades-of-royal-blue--navy-3-hex;
            }
        }
        img {
            margin-right: 10px;
        }
    }
    .comment-date {
        font-size: 0.8rem;
        color: #6C7582;
    }
}
.comment {
    padding-left: 45px;
    
    a {
    color: $South-Beach-Target-Store-Mural-4-hex;
        &:hover {
        color: $South-Beach-Target-Store-Mural-4-hex;     
        } 
    }
}